* {
    margin: 0;
}

body {
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    font-weight: 100;
}

.menu-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(78, 76, 74);
    min-height: 35px;
    font-weight: 500;
    font-size: 15px;
}

.menu-bar__item {
    padding: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start;
    transition: .15s ease;
}

.menu-bar__item:hover {
    color: black;
}

.menu-bar__icon {
    padding-right: 10px;
}

.sign-out {
    font-size: 20px;
    font-weight: 300;
}

.menu-bar__capture {
    font-weight: 700;
    font-size: 17px;
}

.angle-right {
    padding: 0 14px;
    padding-top: 2px;
}

.min-size__capture {
    display: none;
    text-align: center;
}

.banner {
    background: url(../public/banner.jpg) no-repeat;
    min-height: 220px;
    color: white;
    background-size: cover;
    background-position-y: center;
    display: flex;
    align-items: center;
}

.banner__greeting {
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: 100;
    user-select: none;
    padding: 10px 5px;
}

.footer {
    background: rgb(230, 230, 229);
    height: 70px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 890px) {
    .banner__greeting {
        font-size: 30px;
    }
}

@media screen and (max-width: 780px) {
    .banner {
        align-items: baseline;
    }
    .banner__greeting {
        font-size: 30px;
        text-align: center;
    }
}

@media screen and (max-width: 550px) {
    .banner__greeting {
        font-size: 23px;
    }
}

@media screen and (max-width: 490px) {
    .menu-bar__item {
        padding: 10px 7px;
    }
    .several-size__capture {
        display: none;
    }
    .min-size__capture {
        display: block;
    }
}